body {
	background: lightblue;
	color: black;
	padding: 0ex;
	margin: 0ex;
	font-family: "Tahoma";
}
	
#obsah {
	margin: 20px 50px 20px 50px;
	text-align: center;
	min-width: 22em;
	max-width: 42em;
}

.prikaz {
	font-family: "Georgia";
	color: red;
	text-decoration: underline;
}

#hlavicka {
}

.hlavicka img {
	margin: 1ex;
}

#paticka {
	text-align: center;
	font-size: 80%;
}

h1, h2 {
	font-family: "georgia";
	color: blue;
}

#left {
	float: left;
	width: 30%;
	padding: 10px;
}

#right {
	float: right;
	width: 60%;
	padding: 10px;
}