body {
	/*background: lightblue;*/
	background-image: url("background4.jpg");
	color: black;
	padding: 0ex;
	margin: 0ex;
	font-family: "Tahoma";
}
	
#obsah {
	margin: 20px 50px 20px 50px;
	text-align: center;
	min-width: 22em;
	max-width: 42em;
}

.prikaz {
	font-family: "Georgia";
	color: purple;
	text-decoration: underline;
}


#paticka {
	text-align: center;
	font-size: 80%;
	clear: left;
	clear: right;
}

h1, h2 {
	font-family: "georgia";
	color: midnightblue;
}

#left {
	float: left;
	width: 12%;
	padding: 10px;
}

#right {
	float: right;
	width: 80%;
	padding: 10px;
	padding-right: 70px;
}

.menu {
	line-height: 200%;
	margin: 1em 0;
	padding: 1px;
	font-size: 110%;
	text-align: center;
	cursor: pointer;
}

.menu a {
	display: outline;
	margin: 0;
	padding: 0.25ex 1ex;
	border: solid transparent 1px;
	text-decoration: none;  /*odkazy v menu sa nebudu podciarkovat*/
}

.menu a:hover {
	border: solid black 1px;  /*ramik ked nabehnem kurzorom*/
}

.button {
	line-height: 200%;
	margin: 1em 0;
	padding: 1px;
	font-size: 110%;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	color: midnightblue;
}

.button a {
	display: outline;
	margin: 0;
	padding: 0.25ex 1ex;
	border: solid transparent 1px;
	text-decoration: none;
	position: fixed;
	bottom: 10;
    left: 20;
}

.button a:hover {
	border: solid black 1px;  /*ramik ked nabehnem kurzorom*/
}

.datum {
	color: midnightblue;
	font-size: 110%;
	position: absolute;
	top: 5;
    right: 10;
}

#autor {
  border: 10px double midnightblue;
}